<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- fragment -->
<head th:fragment="head-tag">
    <meta charset="UTF-8" />
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title th:inline="text">[[${@environment.getProperty('spring.application.name')}]]</title>
</head>

<!-- fragment -->
<header class="container mb-2" th:fragment="banner-and-navbar">
    <div class="bg-white">
        <div class="d-flex justify-content-center">
            <p class="h1 text-secondary text-center">SE480 - Software Architecture I</p><br>
        </div>
        <div class="d-flex justify-content-center">
            <p class="h3 text-dark font-weight-light text-center">A Movie Recommender Service with Circuit Breaker</p><br>
        </div>
        <div class="d-flex justify-content-center">
            <p class="text-dark font-weight-light text-center">Author: Nardos Tessema</p>
        </div>
    </div>
</header>

<!-- fragment -->
<footer class="container" th:fragment="footer">
    <div class="bg-white">
        <div class="text-center">
            <small class="text-muted font-weight-light text-center">DePaul University</small><br>
            <small class="text-muted font-weight-light text-center">CDM</small><br>
            <small class="text-muted font-weight-light text-center">Autumn 2020</small>
        </div>
    </div>
</footer>