<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head-tag"></head>
<body>
    <header th:replace="fragments :: banner-and-navbar"></header>
    <hr class="border-light"/>
    <main class="container">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-film"></i> Movie Title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-start">
                                <a href="#" class="btn btn-danger"><i class="fas fa-play"></i> Play Movie</a>
                            </div>
                            <div class="d-flex justify-content-end">
                                <span class="text-warning">
                                    <a href="#"><i class="fas fa-star text-warning"></i></a>
                                    <a href="#"><i class="fas fa-star text-warning"></i></a>
                                    <a href="#"><i class="fas fa-star-half-alt text-warning"></i></a>
                                    <a href="#"><i class="far fa-star text-warning"></i></a>
                                    <a href="#"><i class="far fa-star text-warning"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-film"></i> Movie Title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-start">
                                <a href="#" class="btn btn-danger"><i class="fas fa-play"></i> Play Movie</a>
                            </div>
                            <div class="d-flex justify-content-end">
                                <span class="text-warning">
                                    <a href="#"><i class="fas fa-star text-warning"></i></a>
                                    <a href="#"><i class="fas fa-star text-warning"></i></a>
                                    <a href="#"><i class="fas fa-star-half-alt text-warning"></i></a>
                                    <a href="#"><i class="far fa-star text-warning"></i></a>
                                    <a href="#"><i class="far fa-star text-warning"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-film"></i> Movie Title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            <div class="d-flex justify-content-start">
                                <a href="#" class="btn btn-danger"><i class="fas fa-play"></i> Play Movie</a>
                            </div>
                            <div class="d-flex justify-content-end">
                                <span class="text-warning">
                                    <a href="#"><i class="fas fa-star text-warning"></i></a>
                                    <a href="#"><i class="fas fa-star text-warning"></i></a>
                                    <a href="#"><i class="fas fa-star-half-alt text-warning"></i></a>
                                    <a href="#"><i class="far fa-star text-warning"></i></a>
                                    <a href="#"><i class="far fa-star text-warning"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-film"></i> Movie Title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-start">
                                <a href="#" class="btn btn-danger"><i class="fas fa-play"></i> Play Movie</a>
                            </div>
                            <div class="d-flex justify-content-end">
                                <span class="text-warning">
                                    <a href="#"><i class="fas fa-star text-warning"></i></a>
                                    <a href="#"><i class="fas fa-star text-warning"></i></a>
                                    <a href="#"><i class="fas fa-star-half-alt text-warning"></i></a>
                                    <a href="#"><i class="far fa-star text-warning"></i></a>
                                    <a href="#"><i class="far fa-star text-warning"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <hr class="border-light"/>
    <footer th:replace="fragments :: footer"></footer>
</body>
</html>